#true {
  width: 45%;
  background-color: green;
  color: white;
  border: 3px solid;
  font-size: 24px;
  text-align: left;
  margin: 10 auto;
  margin-bottom: 10px;
  float: left;
  padding: 5px;
}

#false {
  width: 45%;
  background-color: red;
  color: white;
  border: 3px solid;
  font-size: 24px;
  text-align: left;
  margin: 10 auto;
  margin-bottom: 10px;
  float: left;
  padding: 5px;
}